/* main.css */
@import "core/variables.css";
@import "core/reset.css";
@import "core/typography.css";

@import "components/buttons.css";
@import "components/cards.css";
@import "components/forms.css";
@import "components/modals.css";

@import "layout/header.css";
@import "layout/footer.css";
@import "layout/sections.css";

@import "utilities/animations.css";
@import "utilities/responsive.css";
